// todo Fix Footer
html,
body {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.content {
  flex: 1 0 auto;
  position: relative;
  z-index: 3;
}

.b-footer {
  flex: 0 0 auto;
  position: relative;
  z-index: 4;
}